@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Ubuntu+Condensed');

nav .brand-logo {
    font-family: 'Permanent Marker', cursive; 
}

.nav-wrapper .fa-bars{
    font-size: 25px;
}

body {
    font-family: 'Ubuntu Condensed', sans-serif; 
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  footer {
      margin-top: 20px;
  }